/*header*/
.header {
  background-color: $primary;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1714px;
    padding-right: 15px;
    padding-left: 15px;
    @include pad(){
      max-width: 922px;
    }
    @include mobile() {
      flex-direction: column;
      justify-content: flex-start;
      padding-right: 0px;
      padding-left: 0px;
    }
  }
}
.logo {
  a {
    background-image: url(../images/logo.png);
    width: 80px;
    height: 49px;
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    margin: 30px 0;
    @include mobile() {
      background-size: 48px 30px;
      width: 48px;
      height: 30px;
      margin: 10px 0;
    }
  }
}
.menu {
  display: flex;
  flex-wrap: wrap;
  font-size: $h5-font-size;
  @include mobile() {
    width: 100%;
  }
  a {
    display: block;
    color: $white;
    text-align: center;
    @include mobile() {
      border: 1px solid $white;
      padding: 12px 0;
    }
  }
  li:not(:last-child) {
    padding-right: 64px;
    @include pad() {
      padding-right: 40px;
    }
    @include mobile() {
      padding-right: 0px;
    }
  }
  li {
    @include mobile() {
      width: 50%;
    }
  }
}

  .hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #fff;
    height: 3px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-center:hover:before,
  .hvr-underline-from-center:focus:before,
  .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
  }

/*header end*/
