.py-sm{padding-top: 12px;padding-bottom: 12px;}
.py-lg{padding-top: 36px;padding-bottom: 36px;}
.px-xxl{padding-right: 67px!important;padding-left: 67px!important;}
.pt-xxxl{padding-top: 80px;}
.mt-sm{margin-top: 13px;}
.mt-xxxl{margin-top: 80px;}
.mb-ss{margin-bottom: 12px;}
.mb-sm{margin-bottom: 20px;}
.mb-md{margin-bottom: 24px;}
.mb-lg{margin-bottom: 28px;}
.mb-lx{margin-bottom: 32px;}
.mb-xl{margin-bottom: 36px;}
.mb-xxl{margin-bottom: 60px;}
.mb-xxxl{margin-bottom: 80px;}
.mb-xxxxl{margin-bottom: 100px;}
.mb-xxxxxl{margin-bottom: 132px;}
.font-size-sm{font-size: $font-size-sm;}
.font-size-lg{font-size: $font-size-lg;}
.font-size-xl{font-size: $font-size-base * 3;}